.grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.grid-item {
    background-color: var(--bg1);
    border: 1px solid var(--tx3);
    border-radius: 8px;
    padding: 1rem;
    height: 100%;
}

.span-col-2 {
    grid-column: span 2;
}

.span-row-2 {
    grid-row: span 2;
}

@media (max-width: 750px){
    .grid-2x2{
        grid-template-columns: 1fr !important;
        gap: 0.5rem !important;
    }

    .grid-item{
        height: auto !important;
        padding: 0.5rem !important;
    }

    .span-col-2,
    .span-row-2 {
        grid-column: auto / auto !important;
        grid-row: auto / auto !important;
    }
}